<div>
    <script type="text/html">
        <comp1 attr1="Another test"></comp1>
    </script>
    <script type="text/html">
        <![CDATA[
        <comp1 attr1="a test again"></comp1>
        ]]>
    </script>
    <script>
        var toto = '<div>machin</div>';
        var toto2 = '<comp1 attr1="mytests"></comp1>';
    </script>

    <comp1 attr1="Another test"></comp1>
</div>